.siparis-page{
background-color: #CE2829 ;
margin: 0;
padding: 0;
height: 100vh;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center ;
background-size: cover;
background-position: center;
color: white;
}
.yol{
    color: #FDC913;
    font-family: Satisfy;
}

.tebrik {
    font-family: Roboto Condensed
    ;
}
 hr{
    border: none;           /* Varsayılan kenar stilini kaldırır */
    height: 2px;            /* Çizginin kalınlığı (yüksekliği) */
    background-color: #FAF7F2; /* Çizginin rengi */
    width: 80%;            /* Çizginin genişliği (tam genişlik) */
    margin: 20px 0;  
 }

 .inc{
    margin-right: 200px;
 }

 .toplamm{
    border: 1px solid #FAF7F2;
    width: 25%;
    border-radius: 6px;
    height: 200px;
    margin: 20px;

 }
 
 
 .toplamm p {
  margin: 20px;
  display: flex;
  margin-bottom: 30px;
 }
 .killa{
    margin-left: 50%;
 }
 .ceza{
    margin-left: 53%;
 }

