
.main-container{
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
}
 .main-paragraf{
  margin-top: 50px;
 }


header{
 background-color: #CE2829 ;
 color: white;
 text-align: center;
  margin: 0;
  padding: 0;
  font-family: Londrina Solid;
  
 
 
}
.active-link{
  color: white;
  text-decoration: none;
}
.inactive-link{
  text-decoration: none;
  margin: 2px;

}
